<template>
  <b-form style="width: 50%; margin: auto" id="form">
    <h1 style="text-align: center">Formulari alta usuari registrat</h1>
    <br />
    <h3 style="text-align: center">Dades Basiques</h3>
    <b-row>
      <b-col cols="6">
        <b-form-group style="text-align: left" label="Nom:" label-for="nom">
          <b-form-input
            type="text"
            class="form-control"
            id="nom"
            placeholder="Nom"
            size="40"
            maxlength="30"
          />
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Primer Cognom:"
          label-for="cognom1"
        >
          <b-form-input
            type="text"
            class="form-control"
            id="cognom1"
            placeholder="Primer Cognom"
            size="80"
            maxlength="60"
          />
        </b-form-group>
      </b-col>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Segon Cognom:"
          label-for="cognom2"
        >
          <b-form-input
            type="text"
            class="form-control"
            id="cognom2"
            placeholder="Segon Cognom"
            size="80"
            maxlength="60"
          />
        </b-form-group> </b-col
    ></b-row>
    <b-row>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Primer Cognom:"
          label-for="cognom1"
        >
          <b-form-select
            id="tipusDoc"
            onchange="if($('#tipusDoc').val()=='dni'){$('#document').attr('pattern','[0-9]{7}[a-zA-Z]')}else{$('#document').attr('pattern','[a-zA-Z][0-9]{7}')}"
          />
        </b-form-group>
      </b-col>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Document:"
          label-for="document"
        >
          <b-form-input
            type="text"
            class="form-control"
            id="document"
            placeholder="Document"
            size="9"
            maxlength="8"
            pattern="[0-9]{7}[a-zA-Z]"
          />
        </b-form-group> </b-col
    ></b-row>
    <b-row>
      <b-col cols="6">
        <b-form-group
          label="Ets:"
          style="text-align: left"
          v-slot="{ ariaDescribedby }"
        >
          <b-form-radio-group
            id="radio-group-1"
            v-model="selected"
            :options="options"
            :aria-describedby="ariaDescribedby"
            name="radio-options"
          ></b-form-radio-group>
        </b-form-group>
      </b-col>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Data de Naixement:"
          label-for="data"
        >
          <b-form-input type="date" class="form-control" id="data" />
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Nivell d’estudis:"
          label-for="estudis"
        >
          <b-form-select id="estudis" />
        </b-form-group>
      </b-col>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Situacio Laboral:"
          label-for="laboral"
        >
          <b-form-select id="laboral" />
        </b-form-group> </b-col
    ></b-row>

    <b-row>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Nacionalitat:"
          label-for="nacionalitat"
        >
          <b-form-select id="nacionalitat" />
        </b-form-group>
      </b-col>
      <b-col cols="6">
        <b-form-group style="text-align: left" label="Pais:" label-for="pais">
          <b-form-select id="pais" />
        </b-form-group> </b-col
    ></b-row>
    <br />
    <h3 style="text-align: center">Dades de contacte</h3>
    <b-row>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Adreça de correu:"
          label-for="correu"
        >
          <b-form-input
            type="text"
            class="form-control"
            id="correu"
            placeholder="Adreça de correu"
            required
          />
        </b-form-group>
      </b-col>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Telefon:"
          label-for="telefon"
        >
          <b-form-input
            type="text"
            class="form-control"
            id="telefon"
            placeholder="Telefon"
            size="10"
            maxlength="9"
          />
        </b-form-group> </b-col
    ></b-row>
    <b-row>
      <b-col cols="6">
        <b-form-group
          label="Vius a Barcelona:"
          style="text-align: left"
          v-slot="{ ariaDescribedby }"
        >
          <b-form-radio-group
            id="radio-group-1"
            v-model="selected"
            :options="options"
            :aria-describedby="ariaDescribedby"
            name="radio-options"
          ></b-form-radio-group>
        </b-form-group> </b-col
    ></b-row>
    <div id="oculto" class="collapse">
      <b-row>
        <b-col cols="4">
          <b-form-input type="text" class="form-control" id="tipusVia" />
        </b-col>
        <b-col cols="4">
          <b-form-input
            type="text"
            class="form-control"
            id="adrBcn"
            placeholder="Via Augusta"
          />
        </b-col>
        <b-col cols="4">
          <label for="numBcn">Numero:</label>
          <b-form-group
            style="text-align: left"
            label="Numero:"
            label-for="numBcn"
          >
            <b-form-input
              type="text"
              class="form-control"
              id="numBcn"
              placeholder="12"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="4">
          <b-form-group
            style="text-align: left"
            label="Pis:"
            label-for="PisBcn"
          >
            <b-form-input
              type="text"
              class="form-control"
              id="PisBcn"
              placeholder="1"
            />
          </b-form-group>
        </b-col>
        <b-col cols="4">
          <b-form-group
            style="text-align: left"
            label="Porta:"
            label-for="PortaBcn"
          >
            <b-form-input
              type="text"
              class="form-control"
              id="PortaBcn"
              placeholder="5"
            />
          </b-form-group>
        </b-col>
        <b-col cols="4">
          <b-form-group
            style="text-align: left"
            label="Escala:"
            label-for="EscalaBcn"
          >
            <b-form-input
              type="text"
              class="form-control"
              id="EscalaBcn"
              placeholder="A"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          <b-form-group
            style="text-align: left"
            label="Codi Postal:"
            label-for="codiBcn"
          >
            <b-form-input
              type="text"
              class="form-control"
              id="codiBcn"
              placeholder="08005"
            />
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group
            style="text-align: left"
            label="Poblacio:"
            label-for="poblacioBcn"
          >
            <b-form-input
              type="text"
              class="form-control"
              id="poblacioBcn"
              value="BARCELONA"
            />
          </b-form-group>
        </b-col>
      </b-row>
    </div>
    <br />
    <h3 style="text-align: center">Clau d'accés i nota legal</h3>
    <b-row>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Clau d'acces:"
          label-for="clau1"
        >
          <b-form-input
            type="text"
            class="form-control"
            id="clau1"
            placeholder="azAZ09!"
            onchange="$('#clau2').attr('pattern',$('#clau1').val());"
            required
          />
        </b-form-group>
      </b-col>
      <b-col cols="6">
        <b-form-group
          style="text-align: left"
          label="Confirma la clau d'acces:"
          label-for="clau2"
        >
          <b-form-input
            type="text"
            class="form-control"
            id="clau2"
            placeholder="azAZ09!"
            required
          />
        </b-form-group> </b-col
    ></b-row>
    <div style="text-align: left; margin-top: 5px">
      <b-form-checkbox
        type="checkbox"
        class="custom-control-input"
        id="politica"
        required
      >
        He llegit, comprenc y accepto la politica de privacitat
      </b-form-checkbox>
    </div>
    <br />
    <div style="text-align: center">
      <b-form-input
        type="submit"
        style="margin: auto"
        id="submit"
        class="btn btn-outline-secondary"
        value="Enviar"
      />
    </div>
  </b-form>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
