.tile {
    position: absolute;
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: darkgreen;
}

.player {
    position: absolute;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.test {
    width: 100%;
    height: 100%;
}

#map {
    position: relative;
}

#move{
    width: 80px;
    height: 80px;
    background-color: lightskyblue;
    border: 3px;
    border-radius: 10px;
    border-color: black;
}
#move:hover{
    width: 90px;
    height: 90px;
    background-color: blue;
}

#shoot{
    width: 80px;
    height: 80px;
    background-color: lightcoral;
    border: 3px;
    border-radius: 10px;
    border-color: black;
}

#shoot:hover{
    width: 90px;
    height: 90px;
    background-color: red;
}

.hud0{
    width: 100%;
    border: 2px;
    padding: 3px;
    border-style: solid;
    border-color: black;
    color: black;
    background-color: white;
}

.hud1{
    width: 100%;
    border: 2px;
    padding: 3px;
    border-style: solid;
    border-color: white;
    text-align: right;
    color: white;
    background-color: black;
}
